.card{
	border: 1px solid #ddd;
	background: #f2f2f2;
	border-radius: 4px;
	min-height: 120px;
	margin: 10px;
	cursor: pointer;
}

.ReactTags__tag {
	padding:3px;
	border:1px solid #ccc;
	background: #fff;
	margin: 2px 4px;
	border-radius: 12px;
	clear: both;
	display: inline-block
}
.ReactTags__remove {	
	padding:2px;
}
.ReactTags__tagInput{
	clear: both;
	margin: 10px 0;
}